In [1]:
# imports

from pathlib import Path
from openai import OpenAI
from dotenv import load_dotenv
import os
import random
import time
import itertools
import pandas as pd
from collections import defaultdict
import re

In [2]:
# load API key

dotenv_path = Path(r"C:\Storage\python_projects\ashvin\.env")
load_dotenv(dotenv_path=dotenv_path)

OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")

In [3]:
# main constants

GPT_MODEL_TEXT_ALIAS = "gpt-4-turbo-preview"
GPT_MODEL_VISION_ALIAS = "gpt-4-vision-preview"

# additional constants as at 31/01/24
GPT_MODEL_TEXT = "gpt-4-0125-preview"
IMAGE_MODEL = "dall-e-3"
EMBEDDINGS_MODEL = "text-moderation-latest"

In [4]:
# variations
n = 300
runs = 3

In [17]:
# simple prompt
base_prompt = f"""
Generate {n} trisociations as a list.
"""

instruction_prompt = f"""
Generate {n} trisociations as a list. No additional comments or elaborations.
"""
format_prompt = f"""
Generate {n} trisociations in the format below. No additional comments or elaborations.
1. Word - Word - Word
2. Word - Word - Word
...
"""
language_prompt = f"""
Generate {n} trisociations in the format below. No additional comments or elaborations.
1. Word (language) - Word (language) - Word (language)
2. Word (language) - Word (language) - Word (language)
...
"""
unique_prompt = f"""
Generate {n} trisociations in the format below. No additional comments or elaborations. Make each word unique.
1. Word - Word - Word
2. Word - Word - Word
...
"""
avoid_prompt = f"""
Generate {n} trisociations in the format below. No additional comments or elaborations. avoid duplicate words within and across trisociations.
1. Word - Word - Word
2. Word - Word - Word
...
"""

In [12]:
#instantiate client
client = OpenAI()

In [18]:
final_prompt = avoid_prompt

In [19]:
# Function to perform a single run and collect data
def perform_run(prompt_text):
    start_time = time.time()
    completion = client.chat.completions.create(
        model=GPT_MODEL_TEXT_ALIAS,
        messages=[
            {"role": "system", "content": prompt_text},
        ]
    )
    end_time = time.time()
    
    trisociation_answer = completion.choices[0].message.content
    execution_time = end_time - start_time
    prompt_tokens = completion.usage.prompt_tokens
    completion_tokens = completion.usage.completion_tokens
    total_tokens = completion.usage.total_tokens

    return {
        'execution_time': execution_time,
        'prompt_tokens': prompt_tokens,
        'completion_tokens': completion_tokens,
        'total_tokens': total_tokens,
        'trisociations': trisociation_answer
    }

In [20]:
# List to store results from all runs
results = []

# Perform multiple runs
for _ in range(runs):
    result = perform_run(final_prompt)
    results.append(result)

# Calculate average metrics
avg_execution_time = sum(r['execution_time'] for r in results) / runs
avg_prompt_tokens = sum(r['prompt_tokens'] for r in results) / runs
avg_completion_tokens = sum(r['completion_tokens'] for r in results) / runs
avg_total_tokens = sum(r['total_tokens'] for r in results) / runs

# Print out the results
print(f"Average execution time: {avg_execution_time:.2f} seconds")
print(f"Average prompt tokens: {avg_prompt_tokens:.2f}")
print(f"Average completion tokens: {avg_completion_tokens:.2f}")
print(f"Average total tokens: {avg_total_tokens:.2f}")

# Additionally, print each run's trisociations
for i, r in enumerate(results, 1):
    print(f"Run {i} trisociations:\n{r['trisociations']}\n")

Average execution time: 167.88 seconds
Average prompt tokens: 55.00
Average completion tokens: 3063.00
Average total tokens: 3118.00
Run 1 trisociations:
1. Mountain - River - Valley
2. Chocolate - Vanilla - Strawberry
3. Sun - Moon - Stars
4. Winter - Spring - Summer
5. Pencil - Pen - Marker
6. Lion - Tiger - Bear
7. Bread - Cheese - Wine
8. Triangle - Square - Circle
9. Gold - Silver - Bronze
10. Rain - Snow - Hail
11. Book - Magazine - Newspaper
12. Apple - Banana - Cherry
13. Table - Chair - Sofa
14. Guitar - Piano - Violin
15. Red - Blue - Yellow
16. Hat - Scarf - Gloves
17. Coffee - Tea - Milk
18. Car - Bicycle - Train
19. Clock - Watch - Calendar
20. Toothbrush - Toothpaste - Floss
21. Fork - Knife - Spoon
22. Ocean - Sea - Lake
23. Eagle - Falcon - Hawk
24. Rose - Tulip - Daisy
25. Painting - Sculpture - Drawing
26. Duck - Goose - Swan
27. Onion - Garlic - Ginger
28. Candle - Lamp - Flashlight
29. Cricket - Football - Basketball
30. Cowboy - Knight - Pirate
31. Bee - Butterfly - Ant
32. Sand - Dirt - Clay
33. Mouse - Keyboard - Screen
34. Hammer - Screwdriver - Wrench
35. Porridge - Soup - Stew
36. Africa - Asia - Europe
37. Laugh - Cry - Smile
38. Window - Door - Roof
39. Tower - Castle - Palace
40. Ink - Paint - Dye
41. Wheat - Corn - Rice
42. Doctor - Nurse - Surgeon
43. Sunflower - Lavender - Jasmine
44. Eagle - Dove - Peacock
45. Ice - Water - Vapor
46. Heart - Brain - Lung
47. Fish - Shrimp - Crab
48. Mango - Peach - Plum
49. Sugar - Salt - Pepper
50. Kite - Balloon - Parachute
51. Owl - Bat - Moth
52. Shark - Dolphin - Whale
53. Drum - Flute - Trumpet
54. Fox - Wolf - Coyote
55. Storm - Thunder - Lightning
56. Pasta - Pizza - Risotto
57. Elephant - Rhino - Hippo
58. Medal - Trophy - Ribbon
59. Key - Lock - Chain
60. Island - Peninsula - Continent
61. Rocket - Spaceship - Satellite
62. Ring - Necklace - Bracelet
63. Zebra - Giraffe - Elephant
64. Quiz - Exam - Test
65. Diary - Journal - Notebook
66. Peach - Nectarine - Apricot
67. Frog - Toad - Newt
68. Cucumber - Zucchini - Squash
69. Cactus - Fern - Palm
70. Clown - Magician - Juggler
71. Violin - Viola - Cello
72. Blanket - Pillow - Mattress
73. Hurricane - Tornado - Cyclone
74. Camel - Llama - Alpaca
75. Butter - Margarine - Mayonnaise
76. Earthquake - Volcano - Tsunami
77. Comet - Meteor - Asteroid
78. Lemonade - Iced Tea - Soda
79. Monsoon - Drought - Flood
80. Crow - Raven - Magpie
81. Sage - Mint - Basil
82. Acorn - Pinecone - Maple Seed
83. Panda - Koala - Polar Bear
84. Grapes - Raisins - Wine
85. Sponge - Brush - Broom
86. Horse - Donkey - Mule
87. Diamond - Ruby - Sapphire
88. Harp - Lute - Mandolin
89. Tarantula - Scorpion - Centipede
90. Crocodile - Alligator - Gharial
91. Hammer - Anvil - Forge
92. Shampoo - Conditioner - Soap
93. Tulip - Poppy - Lotus
94. Ray - Shark - Eel
95. Bead - Button - Buckle
96. Mustard - Ketchup - Mayo
97. Pear - Fig - Date
98. Nutmeg - Cinnamon - Clove
99. Scissors - Clippers - Shears
100. Jacket - Coat - Sweater
101. Kiwi - Lime - Lemon
102. Walnut - Almond - Pecan
103. Lily - Orchid - Hibiscus
104. Chili - Pepper - Paprika
105. Moth - Caterpillar - Butterfly
106. Hamburger - Sandwich - Hotdog
107. Cranberry - Blueberry - Raspberry
108. Beetle - Dragonfly - Firefly
109. Caterpillar - Worm - Slug
110. Skirt - Dress - Gown
111. Birch - Oak - Maple
112. Chalk - Pencil - Crayon
113. Daffodil - Bluebell - Snowdrop
114. Olive - Pickle - Jalape√±o
115. Sparrow - Finch - Canary
116. Squirrel - Chipmunk - Rabbit
117. Acoustic - Electric - Bass
118. UFO - Rocket - Satellite
119. Mail - Parcel - Letter
120. Smoke - Fog - Mist
121. Leaf - Branch - Root
122. Hippo - Crocodile - Elephant
123. Chisel - Saw - Drill
124. Mint - Gum - Candy
125. Sunscreen - Hat - Sunglasses
126. Rainbow - Aurora - Mirage
127. Museum - Gallery - Library
128. Stamp - Coin - Ticket
129. Whale - Dolphin - Seal
130. Coral - Shell - Starfish
131. Calf - Foal - Lamb
132. Puddle - Pond - Pool
133. Cinnamon - Ginger - Nutmeg
134. Joker - King - Queen
135. Pickle - Relish - Sauerkraut
136. Pyramid - Sphere - Cube
137. Thunder - Rain - Fog
138. Canvas - Paper - Wood
139. Lake - River - Stream
140. Biscuit - Cookie - Cake
141. Marble - Quartz - Granite
142. Compass - Map - GPS
143. Heron - Crane - Stork
144. Hawk - Eagle - Falcon
145. Tunnel - Bridge - Road
146. Omelette - Scrambled - Boiled
147. Cherry - Berry - Currant
148. Lime - Lemon - Orange
149. Deck - Patio - Porch
150. Ocean - Gulf - Bay
151. Albatross - Seagull - Pelican
152. Bungalow - Cottage - Villa
153. Ale - Lager - Stout
154. Axe - Hatchet - Cleaver
155. Banana - Plantain - Mango
156. Barley - Oats - Rye
157. Basil - Thyme - Oregano
158. Glue - Tape - Adhesive
159. Broom - Mop - Vacuum
160. Butterfly - Moth - Caterpillar
161. Canary - Parrot - Sparrow
162. Candelabra - Lantern - Torch
163. Canyon - Gorge - Ravine
164. Carousel - Ferris Wheel - Rollercoaster
165. Cartwheel - Somersault - Flip
166. Cathedral - Chapel - Church
167. Cheetah - Leopard - Jaguar
168. Cherry - Apricot - Peach
169. Chestnut - Hazelnut - Almond
170. Chimney - Stove - Furnace
171. Circus - Carnival - Festival
172. Citrus - Berry - Melon
173. Cliff - Hill - Mountain
174. Cloak - Cape - Shawl
175. Clover - Fern - Ivy
176. Coal - Charcoal - Briquette
177. Cobweb - Spiderweb - Net
178. Cocoon - Chrysalis - Egg
179. Comet - Asteroid - Meteor
180. Compass - Sextant - Astrolabe
181. Coral - Anemone - Barnacle
182. Cottage - Cabin - Shack
183. Coyote - Fox - Wolf
184. Crane - Forklift - Hoist
185. Crayfish - Lobster - Shrimp
186. Creek - Brook - Stream
187. Crowley - Hatchet - Saw
188. Crystal - Gemstone - Jewel
189. Cube - Sphere - Pyramid
190. Cuckoo - Sparrow - Parrot
191. Daffodil - Tulip - Rose
192. Dandelion - Buttercup - Clover
193. Date - Fig - Prune
194. Deer - Moose - Elk
195. Desert - Oasis - Dune
196. Dew - Fog - Mist
197. Diamond - Sapphire - Emerald
198. Diary - Calendar - Planner
199. Dime - Nickel - Quarter
200. Dinghy - Yacht - Sailboat
201. Disco - Jazz - Opera
202. Dodo - Pigeon - Sparrow
203. Dogwood - Willow - Maple
204. Dolphin - Porpoise - Whale
205. Domino - Dice - Poker
206. Donut - Muffin - Bagel
207. Dove - Pigeon - Sparrow
208. Dragon - Griffin - Unicorn
209. Drizzle - Shower - Downpour
210. Duckling - Gosling - Cygnet
211. Dune - Hill - Mountain
212. Earring - Necklace - Bracelet
213. Easel - Canvas - Palette
214. Ebony - Mahogany - Oak
215. Eclipse - Equinox - Solstice
216. Eel - Snake - Worm
217. Eggplant - Zucchini - Cucumber
218. Elk - Caribou - Moose
219. Elm - Birch - Willow
220. Emerald - Jade - Peridot
221. Empire - Kingdom - Duchy
222. Envelope - Postcard - Stamp
223. Espresso - Latte - Cappuccino
224. Fable - Myth - Legend
225. Falcon - Hawk - Eagle
226. Fan - Air Conditioner - Cooler
227. Fern - Moss - Algae
228. Fiddle - Banjo - Ukulele
229. Fig - Date - Prune
230. Finch - Sparrow - Robin
231. Firefly - Moth - Glowworm
232. Flamingo - Pelican - Stork
233. Flare - Beacon - Torch
234. Flask - Bottle - Canteen
235. Flea - Tick - Louse
236. Fleece - Wool - Cashmere
237. Flock - Herd - Swarm
238. Flounder - Halibut - Sole
239. Foam - Sponge - Bubble
240. Fog - Mist - Haze
241. Footprint - Fingerprint - Shadow
242. Forest - Jungle - Woodland
243. Fountain - Geyser - Spring
244. Foxglove - Snapdragon - Daisy
245. Freeway - Highway - Avenue
246. Fresco - Mural - Graffiti
247. Fridge - Freezer - Cooler
248. Frigate - Destroyer - Submarine
249. Frost - Ice - Snow
250. Frown - Scowl - Grimace
251. Galaxy - Nebula - Universe
252. Gale - Breeze - Wind
253. Gallery - Museum - Exhibition
254. Garlic - Onion - Chive
255. Garnet - Amethyst - Aquamarine
256. Gecko - Lizard - Salamander
257. Gem - Jewel - Crystal
258. Gerbil - Hamster - Guinea Pig
259. Geyser - Spring - Fountain
260. Gherkin - Pickle - Olive
261. Gingham - Plaid - Tartan
262. Glacier - Iceberg - Ice Shelf
263. Glade - Meadow - Clearing
264. Goblet - Chalice - Cup
265. Goldfish - Koi - Carp
266. Gondola - Canoe - Kayak
267. Goose - Duck - Swan
268. Gorilla - Chimpanzee - Orangutan
269. Gown - Dress - Robe
270. Grackle - Starling - Blackbird
271. Grain - Wheat - Barley
272. Granite - Quartz - Marble
273. Graphite - Lead - Carbon
274. Grasshopper - Cricket - Locust
275. Gravel - Sand - Pebble
276. Greenhouse - Conservatory - Nursery
277. Grid - Matrix - Network
278. Griddle - Pan - Skillet
279. Grill - Barbecue - Smoker
280. Grotto - Cave - Cavern
281. Grove - Orchard - Vineyard
282. Gull - Albatross - Pelican
283. Guppy - Tetra - Goldfish
284. Gurgle - Bubble - Splash
285. Gymnasium - Arena - Stadium
286. Hacienda - Villa - Manor
287. Hail - Sleet - Snow
288. Halo - Aura - Glow
289. Hamlet - Village - Town
290. Hammer - Mallet - Gavel
291. Handbag - Purse - Wallet
292. Hangar - Garage - Shed
293. Harbor - Port - Dock
294. Hare - Rabbit - Bunny
295. Harpoon - Spear - Lance
296. Harpsichord - Piano - Organ
297. Harvest - Reap - Gather
298. Hatchet - Axe - Cleaver
299. Hawk - Falcon - Kestrel
300. Haystack - Barn - Silo

Run 2 trisociations:
1. Apple - Moon - Whisper
2. Ocean - Candle - Library
3. Rainforest - Typewriter - Saturn
4. Python - Snowflake - Museum
5. Vertex - Horizon - Lighthouse
6. Paradox - Oasis - Chalk
7. Glacier - Violin - Algorithm
8. Riddle - Cosmos - Sunflower
9. Avalanche - Piano - Nebula
10. Thunder - Castle - Papyrus
11. Mirage - Tulip - Quantum
12. Coral - Lantern - Theory
13. Meadow - Sphinx - Pixel
14. Vortex - Maple - Symphony
15. Cliff - Compass - Sonnet
16. Prism - Wolf - Archive
17. Aurora - Silk - Equation
18. Eclipse - Falcon - Opera
19. Gargoyle - Lotus - Catalyst
20. Infinity - Peacock - Scroll
21. Zephyr - Oak - Mosaic
22. Orchard - Galaxy - Harp
23. Tide - Pyramid - Manuscript
24. Phoenix - Daisy - Matrix
25. Blizzard - Guitar - Constellation
26. Monsoon - Sapphire - Lyric
27. Serenade - Volcano - Labyrinth
28. Dew - Cedar - Cipher
29. Breeze - Lion - Tablet
30. Mirage - Raven - Renaissance
31. Summit - Iris - Odyssey
32. Canyon - Flute - Chronicle
33. Tornado - Rose - Codex
34. Mist - Elm - Allegory
35. Cascade - Orchid - Formula
36. Pinnacle - Anvil - Fable
37. Tsunami - Cobalt - Anthem
38. Geyser - Fox - Parable
39. Plateau - Jasmine - Ballad
40. Oasis - Eagle - Epic
41. Aurora - Cherry - Graph
42. Tundra - Onyx - Saga
43. Archipelago - Amethyst - Cantata
44. Glacier - Lynx - Prose
45. Flora - Dome - Novella
46. Cyclone - Maple - Stanza
47. Terrain - Basil - Dialogue
48. Fjord - Lavender - Soliloquy
49. Peninsula - Sage - Ballade
50. Delta - Magnolia - Couplet
51. Prairie - Obsidian - Exposition
52. Taiga - Hyacinth - Script
53. Plateau - Falcon - Monologue
54. Canyon - Heather - Quatrain
55. Crater - Falcon - Narrative
56. Savanna - Willow - Sonnet
57. Foothill - Granite - Prologue
58. Dune - Lotus - Verses
59. Moor - Topaz - Chronicle
60. Estuary - Pine - Acrostic
61. Shoal - Geranium - Haiku
62. Marsh - Elm - Sestina
63. Stream - Ruby - Ode
64. Gulch - Zinnia - Villanelle
65. Crevasse - Quartz - Elegy
66. Ravine - Poppy - Ghazal
67. Butte - Cedar - Limerick
68. Knoll - Olive - Free Verse
69. Mesa - Basil - Cinquain
70. Valley - Sage - Lyricism
71. Summit - Pansy - Palindrome
72. Ridge - Hemlock - Pantoum
73. Highland - Agate - Pastoral
74. Lowland - Birch - Sonnet
75. Plateau - Daffodil - Epicurean
76. Basin - Snapdragon - Alexandrine
77. Watershed - Thyme - Epigram
78. Tributary - Marigold - Quatorzain
79. Lagoon - Nutmeg - Madrigal
80. Bayou - Petunia - Rondeau
81. Bog - Fern - Shanty
82. Fen - Tarragon - Sermon
83. Swamp - Myrtle - Didactic
84. Pond - Coriander - Enjambment
85. Lake - Lilac - Anecdote
86. Reservoir - Verbena - Allegory
87. River - Sorrel - Epitaph
88. Creek - Jasmine - Narrative
89. Brook - Gardenia - Eulogy
90. Streamlet - Linden - Epic
91. Rivulet - Marjoram - Canticle
92. Gully - Heather - Sketch
93. Runnel - Violet - Memoir
94. Channel - Daisy - Soliloquy
95. Strait - Chrysanthemum - Discourse
96. Firth - Beryl - Chronicle
97. Estuary - Clover - Saga
98. Delta - Hawthorn - Aria
99. Fjord - Lavender - Thesis
100. Gulch - Flax - Dialogue
101. Ravine - Orchid - Monologue
102. Gorge - Peony - Rhapsody
103. Canyon - Chamomile - Prologue
104. Trench - Gardenia - Treatise
105. Valley - Juniper - Narrative
106. Dale - Rosemary - Exegesis
107. Basin - Tansy - Biography
108. Plateau - Sagebrush - Fiction
109. Mesa - Snapdragon - Non-fiction
110. Plain - Dandelion - Fantasy
111. Prairie - Thistle - Memoir
112. Steppe - Primrose - Adventure
113. Tundra - Begonia - Sci-fi
114. Dune - Yarrow - Mystery
115. Desert - Lamium - Thriller
116. Mountain - Lavender - Drama
117. Hill - Moss - Comedy
118. Cliff - Ivy - Romance
119. Peak - Aspen - Satire
120. Ridge - Birch - Poetry
121. Escarpment - Cedar - Prose
122. Plateau - Dogwood - Documentary
123. Mesa - Almond - Animation
124. Terrace - Cherry - Art
125. Slope - Olive - Music
126. Bank - Willow - Dance
127. Coast - Magnolia - Theatre
128. Shore - Hazel - Cinema
129. Beach - Holly - Broadcasting
130. Sand - Jasmine - Journalism
131. Gravel - Lilac - Telecommunication
132. Stone - Maple - Advertising
133. Pebble - Narcissus - Networking
134. Boulder - Oak - Technology
135. Cliff - Ash - Engineering
136. Crag - Beech - Astronomy
137. Overhang - Cedar - Botany
138. Precipice - Daisy - Chemistry
139. Ridge - Elm - Computing
140. Summit - Fir - Ecology
141. Top - Garnet - Geography
142. Apex - Heather - Geology
143. Pinnacle - Iris - Immunology
144. Peak - Jade - Mathematics
145. Crest - Kelp - Medicine
146. Hilltop - Lavender - Microbiology
147. Mountaintop - Moss - Neuroscience
148. Plateau - Nutmeg - Oceanography
149. Mesa - Opal - Physics
150. Terrace - Pine - Psychology
151. Slope - Quartz - Sociology
152. Bank - Rose - Zoology
153. Coast - Sage - Archaeology
154. Shore - Thyme - Anthropology
155. Beach - Umbrella - Linguistics
156. Sand - Vanilla - Philosophy
157. Gravel - Willow - Political Science
158. Stone - Xylophone - Public Administration
159. Pebble - Yellow - Religious Studies
160. Boulder - Zebra - Visual Arts
161. Cliff - Azalea - Performing Arts
162. Crag - Bamboo - Musicology
163. Overhang - Carnation - Theatre Studies
164. Precipice - Daffodil - Film Studies
165. Ridge - Eucalyptus - Media Studies
166. Summit - Fig - Cultural Studies
167. Top - Geranium - Environmental Science
168. Apex - Hibiscus - Information Science
169. Pinnacle - Icicle - Social Work
170. Peak - Jasmine - Education
171. Crest - Kiwi - Business
172. Hilltop - Lemon - Economics
173. Mountaintop - Mango - Aeronautics
174. Plateau - Nectarine - Robotics
175. Mesa - Olive - Nanotechnology
176. Terrace - Peach - Cybersecurity
177. Slope - Quince - Data Science
178. Bank - Raspberry - Artificial Intelligence
179. Coast - Strawberry - Environmental Engineering
180. Shore - Tangerine - Marine Biology
181. Beach - Ugli Fruit - Conservation Biology
182. Sand - Vanilla - Renewable Energy
183. Gravel - Watermelon - Urban Planning
184. Stone - Xigua - Public Health
185. Pebble - Yucca - Nursing
186. Boulder - Zinnia - Pharmacy
187. Cliff - Alder - Veterinary
188. Crag - Birch - Dentistry
189. Overhang - Cedar - Nutrition
190. Precipice - Dogwood - Physiotherapy
191. Ridge - Elm - Occupational Therapy
192. Summit - Fir - Speech Therapy
193. Top - Ginkgo - Psychiatry
194. Apex - Hawthorn - Orthopedic
195. Pinnacle - Ivy - Oncology
196. Peak - Jasmine - Neurology
197. Crest - Kudzu - Cardiology
198. Hilltop - Lilac - Gastroenterology
199. Mountaintop - Maple - Dermatology
200. Plateau - Nettle - Rheumatology
201. Mesa - Oak - Endocrinology
202. Terrace - Pine - Ophthalmology
203. Slope - Quince - Audiology
204. Bank - Rose - Podiatry
205. Coast - Sage - Gerontology
206. Shore - Tulip - Pediatrics
207. Beach - Umbrella - Obstetrics
208. Sand - Violet - Gynecology
209. Gravel - Willow - Immunotherapy
210. Stone - Xylosma - Pathology
211. Pebble - Yucca - Virology
212. Boulder - Zephyr - Hematology
213. Cliff - Amaranth - Mycology
214. Crag - Birch - Parasitology
215. Overhang - Cedar - Entomology
216. Precipice - Dogwood - Herpetology
217. Ridge - Elm - Ichthyology
218. Summit - Fir - Ornithology
219. Top - Gorse - Mammalogy
220. Apex - Heather - Primatology
221. Pinnacle - Ivy - Ethology
222. Peak - Juniper - Paleontology
223. Crest - Kelp - Petrology
224. Hilltop - Lilac - Sedimentology
225. Mountaintop - Magnolia - Vulcanology
226. Plateau - Nettle - Seismology
227. Mesa - Oak - Meteorology
228. Terrace - Pine - Climatology
229. Slope - Quince - Hydrology
230. Bank - Rose - Oceanography
231. Coast - Sage - Glaciology
232. Shore - Thistle - Biogeography
233. Beach - Umbrella - Soil Science
234. Sand - Violet - Geomorphology
235. Gravel - Willow - Cartography
236. Stone - Xerophyte - Remote Sensing
237. Pebble - Yarrow - Geographic Information Systems
238. Boulder - Zinnia - Urban Geography
239. Cliff - Azurite - Cultural Geography
240. Crag - Bamboo - Historical Geography
241. Overhang - Carnation - Biostatistics
242. Precipice - Daffodil - Epidemiology
243. Ridge - Elderberry - Public Policy
244. Summit - Fig - Environmental Policy
245. Top - Grape - Urban Studies
246. Apex - Hibiscus - Rural Studies
247. Pinnacle - Iris - Development Studies
248. Peak - Jasmine - International Relations
249. Crest - Kiwi - Political Economy
250. Hilltop - Lemon - Sociology of Law
251. Mountaintop - Mango - Criminology
252. Plateau - Nectarine - Ethnic Studies
253. Mesa - Olive - Gender Studies
254. Terrace - Peach - Disability Studies
255. Slope - Quince - Ageing Studies
256. Bank - Raspberry - Youth Studies
257. Coast - Strawberry - Leisure Studies
258. Shore - Tangerine - Tourism Studies
259. Beach - Ugli Fruit - Hospitality Management
260. Sand - Vanilla - Event Management
261. Gravel - Watermelon - Sport Management
262. Stone - Xigua - Education Management
263. Pebble - Yucca - Health Management
264. Boulder - Zinnia - Social Entrepreneurship
265. Cliff - Alder - Non-profit Management
266. Crag - Birch - Human Resource Management
267. Overhang - Cedar - Organizational Behavior
268. Precipice - Dogwood - Organizational Theory
269. Ridge - Elm - Business Ethics
270. Summit - Fir - Corporate Governance
271. Top - Ginkgo - Marketing
272. Apex - Hawthorn - Advertising
273. Pinnacle - Ivy - Brand Management
274. Peak - Jasmine - Sales Management
275. Crest - Kudzu - Market Research
276. Hilltop - Lilac - Consumer Behavior
277. Mountaintop - Maple - Product Management
278. Plateau - Nettle - Project Management
279. Mesa - Oak - Operations Management
280. Terrace - Pine - Supply Chain Management
281. Slope - Quince - Logistics
282. Bank - Rose - Quality Management
283. Coast - Sage - Risk Management
284. Shore - Tulip - Financial Management
285. Beach - Umbrella - Asset Management
286. Sand - Violet - Investment Analysis
287. Gravel - Willow - Corporate Finance
288. Stone - Xylosma - Accounting
289. Pebble - Yucca - Auditing
290. Boulder - Zephyr - Taxation
291. Cliff - Amaranth - International Business
292. Crag - Birch - Entrepreneurship
293. Overhang - Cedar - Innovation Management
294. Precipice - Dogwood - Environmental Management
295. Ridge - Elm - Energy Management
296. Summit - Fir - Real Estate
297. Top - Gorse - Urban Design
298. Apex - Heather - Landscape Architecture
299. Pinnacle - Ivy - Interior Design
300. Peak - Juniper - Fashion Design

Run 3 trisociations:
1. Giraffe - Latte - Asteroid
2. Thunder - Encyclopedia - Marshmallow
3. Skyscraper - Daffodil - Harmonica
4. Carousel - Volcano - Eyeglasses
5. Banjo - Refrigerator - Tulip
6. Monsoon - Chandelier - Skateboard
7. Blueprint - Cactus - Saxophone
8. Parachute - Whale - Matchstick
9. Lantern - Hyena - Popsicle
10. Avalanche - Sequin - Microscope
11. Coral - Fireplace - Atlas
12. Espresso - Falcon - Trowel
13. Glue - Swordfish - Gazebo
14. Train - Fern - Lipstick
15. Kite - Pyramid - Flute
16. Cupcake - Stallion - Mosaic
17. Telescope - Marigold - Igloo
18. Robot - Willow - Perfume
19. Castle - Badger - Velvet
20. Sundial - Gazelle - Trombone
21. Galaxy - Cauldron - Zebra
22. Volcano - Broccoli - Diary

In [16]:
def per_run_aggregate_summary(results):
    detailed_data = []
    for run_index, result in enumerate(results, start=1):
        trisociations = result['trisociations'].strip()
        trisociation_list = trisociations.split('\n')

        for trisociation_index, trisociation in enumerate(trisociation_list, start=1):
            words = re.sub(r'^\d+\.\s*', '', trisociation).replace(' - ', ' ').split()
            for word in words:
                detailed_data.append({'run': run_index, 'word': word})

    df = pd.DataFrame(detailed_data)

    summary_stats = []
    unique_runs = df['run'].unique()
    
    for run in sorted(unique_runs):
        run_df = df[df['run'] == run]
        
        total_words = run_df.shape[0]
        total_unique_words = run_df['word'].nunique()
        total_duplicates = run_df[run_df.duplicated('word', keep=False)]['word'].nunique()
        
        if not run_df[run_df.duplicated('word', keep=False)].empty:
            mode_duplicate = run_df[run_df.duplicated('word', keep=False)]['word'].value_counts().idxmax()
            max_dup_freq = run_df[run_df.duplicated('word', keep=False)]['word'].value_counts().max()
            modal_dup_freq = run_df[run_df.duplicated('word', keep=False)]['word'].value_counts().mode()[0]
        else:
            mode_duplicate = 'None'
            max_dup_freq = 0
            modal_dup_freq = 0
        
        min_dup_freq = run_df[run_df.duplicated('word', keep=False)]['word'].value_counts().min() if not run_df[run_df.duplicated('word', keep=False)].empty else 0
        
        summary_stats.append({
            'Total Words': total_words,
            'Total Unique Words': total_unique_words,
            'Total Duplicates': total_duplicates,
            'Max Dup Word': mode_duplicate,
            'Max Dup Freq': max_dup_freq,
            'Modal Dup Freq': modal_dup_freq,
            'Min Dup Freq': min_dup_freq
        })
    
    summary_df = pd.DataFrame(summary_stats, index=[f'Run {run}' for run in sorted(unique_runs)])
    
    # Apply styling
    styled_df = summary_df.style\
        .format({'Total Words': "{:}", 'Total Unique Words': "{:}", 'Total Duplicates': "{:}", 
                 'Max Dup Word': "{}", 'Max Dup Freq': "{:}", 'Modal Dup Freq': "{:}", 'Min Dup Freq': "{:}"})\
        .set_table_styles([{
            'selector': 'th',
            'props': [
                ('background-color', '#f4f4f4'),
                ('color', '#6d6d6d'),
                ('font-weight', 'bold')
            ]}])\
        .set_caption("Summary Statistics per Run")\
        .set_properties(**{'text-align': 'left'})

    return styled_df

# Assuming 'results' is populated from previous code blocks
# Simply call the function to display the styled DataFrame in your Jupyter Notebook
per_run_aggregate_summary_styled = per_run_aggregate_summary(results)
per_run_aggregate_summary_styled

In [ ]:
# task 1 : display the duplicates in a nicer visual. a table maybe is simple with pandas?
# task 2 : can the duplicates code handle all the prompt type returns
# task 3 : do the mega trisociation prompt and see if any real difference along with language
# task 4 : do cosine similarity
# task 5 : display the base run data in a nicer format
# task 6 : what about a word cloud?
# task 7 : compare it to just generating a word list from a txt file
# task 8 : maybe modify the format prompt to be something like try diverse variations. diverse_prompt.
# task 9 : vary temperature, top p. Maybe that's a separate experiment. maybe that's the main one here.
# task 10 : display each run details before computing the visual
# task 11 : try lousier GPT Models for cheaper inference

In [21]:
def detailed_duplicate_analysis(results):
    data = []
    for run_index, result in enumerate(results, start=1):
        trisociations = result['trisociations'].strip()
        trisociation_list = trisociations.split('\n')

        for trisociation_index, trisociation in enumerate(trisociation_list, start=1):
            words = re.sub(r'^\d+\.\s*', '', trisociation).replace(' - ', ' ').split()
            for word in words:
                data.append({'run': run_index, 'trisociation_index': trisociation_index, 'word': word})
    
    df = pd.DataFrame(data)
    
    # Identifying duplicates
    duplicate_words = df[df.duplicated('word', keep=False)]
    
    # Count and detail aggregation for duplicates
    detailed_duplicates = duplicate_words.groupby('word').agg(
        count=('word', 'size'),  # Use 'size' instead of 'count' for aggregation to get the actual count of rows
        runs=('run', lambda x: sorted(list(set(x)))),
        trisociation_indices=('trisociation_index', lambda x: sorted(list(set(x))))
    ).reset_index()

    # Sorting by 'count' in descending order
    detailed_duplicates = detailed_duplicates.sort_values(by='count', ascending=False).reset_index(drop=True)

    return detailed_duplicates

detailed_df = detailed_duplicate_analysis(results)

styled_df = detailed_df.style\
    .format({'count': '{:.0f}'})\
    .background_gradient(subset='count', cmap='Blues')\
    .set_properties(**{'text-align': 'left'})\
    .set_table_styles([dict(selector='th', props=[('text-align', 'left')])])\
    .highlight_max(subset='count', color='green')\
    .highlight_min(subset='count', color='red')

styled_df

In [ ]:
# trisociation prompt

TRISOCIATION_PROMPT=f"""

---

**Strict Exclusion List**
_Before embarking on the task, it is imperative to note that the following words are strictly prohibited from use in the trisociations:_

- Hiraeth
- Zephyr
- Ubuntu
- Petrichor
- Yugen
- Saudade
- Komorebi
- Tsundoku
- Cwtch
- Wabi-Sabi
- Mamihlapinatapai
- Fernweh
- Flaneur
- Hygge
- Mangata
- Samadhi
- Apricity

---

**Guidelines for Diverse and Unique Trisociations:**
As an advanced algorithm with access to a vast vector database of semantic embeddings, your role is to facilitate the trisociation process ‚Äî a creative endeavor that interlaces three semantically distant concepts. Your mission is to construct trisociations that are linguistically diverse and conceptually distinctive, avoiding commonly used words and uncovering hidden linguistic gems.

---

_Please ensure that none of the words in the strict exclusion list are used in the trisociations._

1. **Explore the Uncommon**: Avoid frequently chosen words and seek out less common vocabulary.
2. **Prioritize Lesser-Known Vocabulary**: Focus on words that are less commonly used in creative writing, poetry, and literary contexts, aiming to uncover unique and underrepresented words.
3. **Thematic Diversity**: Incorporate words from themes like technology, mythology, professions, emotions, and weather phenomena, avoiding the obvious choices.
4. **Historical and Cultural Significance**: Choose words with historical or cultural resonance, especially those that are less known or underrepresented.
5. **Vibrant Language Use**: Include regional dialects or slang, with a focus on those that are less frequently used.
6. **Varied Parts of Speech**: Mix nouns, verbs, adjectives, and adverbs, especially those that are less common in trisociation contexts.
7. **Sensory Exploration**: Select sensory words that are vivid yet not the usual go-to options.
8. **Abstract and Tangible Fusion**: Blend abstract concepts with concrete items in unconventional ways.
9. **Language Family Diversity**: Draw from a wide array of language families, especially focusing on those less represented in common discourse.
10. **Creative Figurative Language**: Use metaphors, similes, and symbolic language, avoiding clich√©s and common expressions.
11. **Wide Emotional Range**: Cover a spectrum of emotions with less typical word choices.
12. **Temporal and Cultural Fusion**: Connect different eras and cultures, going beyond well-trodden paths.
13. **Lesser-Known Language Exploration**: Seek out words from lesser-known languages and dialects.
14. **Balanced Elements**: Ensure that each word contributes equally to the trisociation, without any overshadowing the others.
15. **Semantic Uniqueness**: Ensure that each trisociation stands out in its conceptual composition, distinct from typical combinations.
16. **Language Identification**: In each trisociation, identify the languages of the chosen words. This highlights the linguistic diversity and encourages the exploration of a variety of languages, including lesser-known ones.

---

Task:

Generate {n} Trisociations adhering to the above guidelines. Each trisociation should be a creative blend of three semantically distant nouns, showcasing linguistic innovation and conceptual uniqueness. 
The words in the exclusion list should not be part of any trisociation. No additional comments, explanations or elaborations beyond the trisociation itself.

Output Format :

1. Word (language) - Word (language) - Word (language)
2. Word (language) - Word (language) - Word (language)
...

"""